################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DatabaseCore/Lib.Core.EntityFramework.Extensions/obj
